# Runtime databases / generated data
data/continuwuity/*.sst
data/continuwuity/*.log
data/continuwuity/archive/
data/continuwuity/CURRENT
data/continuwuity/IDENTITY
data/continuwuity/LOCK
data/continuwuity/MANIFEST-*
data/continuwuity/OPTIONS-*
data/continuwuity/media/

data/redis/
data/caddy/
data/caddy_config/
data/hookshot/

# Keep important configs in data
!data/continuwuity/
!data/continuwuity/conduwuit.toml
!data/continuwuity/appservices/
!data/continuwuity/appservices/hookshot-registration.yml
!data/element/
!data/element/**

# Secrets
hookshot/passkey.pem
*.pem
*.key
