{
    email chapmlinks@gmail.com
    auto_https off
}

:80 {
    encode zstd gzip

    # Discovery Headers
    header /.well-known/matrix/* {
        Content-Type "application/json; charset=utf-8"
        Access-Control-Allow-Origin "*"
    }

    # Serve static discovery files
    handle /.well-known/matrix/* {
        root * /var/www/matrix
        file_server
    }

    # API Proxy
    handle_path /_matrix/* {
        reverse_proxy sky0cloud-continuwuity:6167
    }

    # Web UI Proxy
    handle {
        reverse_proxy sky0cloud-element-web:80
    }
}
